# Database Configuration
DATABASE_URL=postgresql://neondb_owner:npg_8IiBNzWXn1Sw@ep-lively-heart-ahst4wjn.c-3.us-east-1.aws.neon.tech/neondb?sslmode=require

# Google Gemini API
GOOGLE_API_KEY=AQ.Ab8RN6KLHfy1acn_6U9-W493r6_GnJdemiNPI-usslvKhIRVdQ

# Application Settings
SECRET_KEY=W493r6_GnJdemiNPI
DEBUG=False
USE_MOCK_AI=True

# CORS
FRONTEND_URL=http://localhost:5173
